In [4]:
import pandas as pd

In [7]:
'''1 ans'''
s=pd.Series([4,8,15,16,23,42])
print(s)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [9]:
'''2 ans'''
l=[1,2,3,4,5,6,7,8,9,5]
print(pd.Series(l))

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
9    5
dtype: int64

In [5]:
'''3 ans'''
d={'name':['Alice','Bob','Claire'],
   'Age':[25,30,27],
   'Gender':['Female','Male','Female']
}
df=pd.DataFrame(d)
print(df)

     name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [22]:
'''4ans'''
'''Dataframe is 2 dimensional array  consisting of two or more series ,it is in tabular form contains rows and columns whereas series is one dimensional array containing values of any data type  of one column '''
'''from above code if we find'''
df1=df[['Age','Gender']]
df2=df['name']
print(df1,'\n')
print(df2)
'''here df 1 is example of dataframe and df2 is example of series'''

   Age  Gender
0   25  Female
1   30    Male
2   27  Female

0     Alice
1       Bob
2    Claire
Name: name, dtype: object

'here df 1 is example of dataframe and df2 is example of series'

In [8]:
'''5ans
common functions that we can use to manipulate data in pandas are
describe(),shape,columns,info etc
when we want to get avg,mean,max,min etc of column having numerical data type we use describe.If we wish 
to get no of rows and columns of dataframe we use shape.
When we want to fetch columns we use columns
We use info if we wish to get columns and their datatypes '''

'5ans\ncommon functions that we can use to manipulate data in pandas are\ndescribe(),shape,columns,info etc\nwhen we want to get avg,mean,max,min etc of column having numerical data type we use describe.If we wish \nto get no of rows and columns of dataframe we use shape.\nWhen we want to fetch columns we use columns\nWe use info if we wish to get columns and their datatypes '

In [11]:
'''7ans'''
l1=[1,2,3,4,5]
l2=[6,7,8,9,4]
'''we convert these lists into series and then will be converting these series into dataframe'''
df1=pd.Series(l1)
df2=pd.Series(l2)
df={'num_1':df1,
    'num2':df2
}
data=pd.DataFrame(df)
data

   num_1  num2
0      1     6
1      2     7
2      3     8
3      4     9
4      5     4

In [13]:
'''6ans
DataFrame and panel are size mutable whereas series are immutable'''

'6ans\nDataFrame and panel are size mutable whereas series are immutable'