In [6]:
list_=['1','2','3','4','5']

In [26]:
import numpy as np
array_list=np.array(object=list_)

In [27]:
array_list

array(['1', '2', '3', '4', '5'], dtype='<U1')

In [12]:
'''1 ans
yes,there is difference between data  type of variables list_ (it is of data type list ) where as array_list has data type string '''
type(list_)

list

In [28]:
'''1 ans'''
array_list.dtype

dtype('<U1')

In [15]:
'''2 ans ,code for finding data type of each and every element of variable list_'''
for i in list_:
    print( type(i))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [29]:
'''2 ans ,code for finding data type of each and every element of variable array_list'''
for i in array_list:
    print(type(i))

<class 'numpy.str_'>
<class 'numpy.str_'>
<class 'numpy.str_'>
<class 'numpy.str_'>
<class 'numpy.str_'>

In [30]:
'''3 ans'''
array_list=np.array(object=list_,dtype=int)

In [32]:
'''3 ans yes,the data type of the elements present in list_ is string whereas data type of element present in array_list 
int'''
for i in list_:
    print(type(i))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [34]:
'''3 ans code for finding data type of each element of variable array_list'''
for i in array_list:
    print(type(i))

<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.int64'>

In [35]:
num_list=[[1,2,3],[4,5,6]]
num_array=np.array(object=num_list)

In [38]:
'''4ans'''
num_array.shape

(2, 3)

In [39]:
'''4ans'''
num_array.size

6

In [ ]:
'''5ans'''
array=np.zeros(())